In [ ]:
import pandas as pd 
import numpy as np 
import kagglehub

In [ ]:
df = pd.read_csv('diabetes_dataset_with_notes.csv')

### 4. Sep Parameters

In [ ]:
pd.read_csv("diabetes_dataset_with_notes.csv",sep='\t',names=['sno','name','release_year','rating','votes'])
# here we are giving the seperate parameters to the read_csv function

### Heder Parameter

In [ ]:
pd.read_csv('diabetes_dataset_with_notes.csv',header=1) # this means my header is starting from the first row

### Use_cols parameter

In [ ]:
# we can specify the columns name that we want to read from the csv file and rest will get eleminated from the csv
pd.read_csv("diabetes_dataset_with_notes.csv",usecols=['year','gender','age'])

In [ ]:
pd.read_csv('diabetes_dataset_with_notes.csv',skiprows=[0,2])

In [ ]:
pd.read_csv('diabetes_dataset_with_notes.csv',nrows=100) # this will give the n number of rows into the dataset

### Encoding Parameter

In [ ]:
pd.read_csv("diabetes_dataset_with_notes.csv",encoding='latin-1')

### Skip bad lines

In [ ]:
pd.read_csv("diabetes_dataset_with_notes.csv", sep=",", encoding='latin-1', on_bad_lines='skip')

### dtypes parameters

In [ ]:
pd.read_csv("diabetes_dataset_with_notes.csv").info()

In [ ]:
df['age'] = df['age'].astype(int)
df.info()

### Handling dates(string means objects in pandas)

In [ ]:
pd.read_csv("diabetes_dataset_with_notes.csv",parse_dates=['age']) # this will converted in the date time format

### Convertors

In [21]:
def rename(email): # applying transformation
    if email == "hduke@hotmail.com":
        return "Admin"
    else:
        return email

In [20]:
pd.read_csv('../../ecomerce_customers.csv',converters={'Email':rename})

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",34.497268,12.655651,39.577668,4.082621,587.951054
1,Admin,"4547 Archer CommonDiazchester, CA 06566-8576",31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872Lake Jamiefurt, U...",33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497West Richard, CA 19320",34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633South Chadburgh, TN...",32.646777,11.499409,38.332576,4.958264,551.620146
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808Brendachester, TX 0...",33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,"49791 Rachel Heights Apt. 898East Drewborough,...",33.715981,12.418808,35.771016,2.735160,497.778642

### na_values parameters

In [ ]:
pd.read_csv('../../ecomerce_customers.csv',na_values=['-']) # This will take Male as an NaN for the whole table

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872Lake Jamiefurt, U...",33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497West Richard, CA 19320",34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633South Chadburgh, TN...",32.646777,11.499409,38.332576,4.958264,551.620146
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808Brendachester, TX 0...",33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,"49791 Rachel Heights Apt. 898East Drewborough,...",33.715981,12.418808,35.771016,2.735160,497.778642

### Loading a huge dataset in chunks

In [ ]:
dfs = pd.read_csv('../../us-prison-pop.csv',chunksize=10000)
for chunk in dfs:
    print(chunk.shape)

(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(10000, 36)
(3811, 36)